.headercontainer {
  margin: 0;
  padding: 0;
  height: 58px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
}

.title {
  width: 187px;
  /* height: 58px; */
  display: flex;
  align-items: center;
}

.title > h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  color: rgba(37, 43, 66, 1);
}

.nav-li {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.nav-li > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-li > ul > li {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
}

.signup {
  color: rgba(35, 166, 240, 1);
}

.toggle-menu {
  display: none;
  position: relative;
  margin: auto;
}

.toggle_items {
  list-style-type: none;
  display: none;
  position: absolute;
  width: 370px;
  height: 350px;
  top: 70%;
  left: 0;
  background-color: white;
}

.toggle_items > li {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 30px;
  color: rgba(115, 115, 115, 1);
}

@media screen and (max-width: 414px) {
  .nav-li {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .toggle_items.is-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
